.first-box{
   position: absolute; 
   background: linear-gradient(to bottom, #9966ff 0%, #0000ff 100%);  
   height: 500px;
   text-align: center;
   width: 350px;
   top: 500px;
   border-radius: 20px;
   right: 790px;
   top: 150px;
   font-family: 'Montserrat', sans-serif;
   margin: 0px;
}
.second-box{
    position: absolute; 
    height: 500px;
    width: 300px;
    text-align: center;
    background-color:white;
    border-radius: 20px;
    left: 710px;
    top: 150px;
    padding-left: 50px;
    padding-right: 20px;
    box-shadow:5px 5px 4px #F0EEED;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}
body{
    margin: 0px;
    
}
h3{
    display: inline-block;
}
.second-para{
    display: inline-block;
    padding-left: 50px;
    
}
.img1{
    width: 5%;
    padding-right: 3px;
}
.visual{
    padding-right: 15px;
    color: blue;
    
}
.verbal{
    padding-right: 15px;  
    color: #03C988;  
}
.memory{
    padding-right: 5px;
    color: #FED049;
}
.reaction{
    color: red;
}
.continue{
    margin: 15px;
    color: white;
}
.reaction-div{
    background-color: #F5EAEA;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.memory-div{
    background-color: #F8F988;
    border-radius: 10px;
    margin-bottom: 20px;
}
.verbal-div{
    background-color: #C0EEE4;
    border-radius: 10px;
    margin-bottom: 20px;
}
.visual-div{
    background-color: #00E7FF;
    border-radius: 10px;
    margin-bottom: 20px;
    
}
.summary{
    text-align: left;
}
.continue-div{
    background-color: #443C68;
    border-radius: 70px;
    width: 300px;
    margin-top: 40px;
}
.out-of-div{
   position: absolute; 
   right: 75px;
   top: 115px;
   width: 200px;
   height: 200px;
   margin: 0%;
   border-radius: 50%;
   background: linear-gradient(to bottom, #000099 0%, #0000ff 100%);
   
}
.out-of{
   position: absolute;
   top: 40px;
   left: 55px;
}
.value-scored{
    font-size: 5rem;
    margin: 0px; 
    color: white;   
}
.full-score{
    margin: 0px;
    color:rgba(255, 255, 255, 0.582);
}
.compliment-div{
    position: absolute;
    top: 320px;
}
.compliment-para{
    width: 64%;
    margin-left: 70px;
    color: rgba(255, 255, 255, 0.582);
}
.compliment{
    color: white;
}
.result{
    color:rgba(255, 255, 255, 0.582);
    margin-top: 50px;
}
.both-box{
    position: relative;
}